body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

input.form-control {
  box-shadow: none !important;
  background: none !important;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #6c757d;
}

input.btn:focus,
input.btn:hover,
button.btn:focus {
  box-shadow: none !important;
}

input.form-control:focus {
  border-bottom: 2px solid #0d6efd;
  transition: all 0.4s;
}

input.animate:focus {
  animation: inputborder 0.5s ease-in;
}

input.btn {
  text-transform: uppercase;
}

a,
a:hover {
  text-decoration: none;
  transition: all 0.4s;
}

.wrapper {
  z-index: 9999;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-dialog {
  animation: modal 0.5s;
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes inputborder {
  0% {
    border-bottom: 2px solid #0d6efd;
    width: 0;
    left: 0;
  }
  100% {
    border-bottom: 2px solid #0d6efd;
    width: 100%;
  }
}
