:root {
  --main-color: #0041cc;
  --btn-apagar: #999999;
  --highlight-text: #111111;
  --input-text: #555555;
  --white-color: #ffffff;
  --cancel-button: #f44336;
  --background-modal: #000000cc;
  --modal-color: #cccccc;
  --my-messages: #00000030;
  --table-lines: #00000010;
  --table-hover: #00000050;
  --table-head: #002980e6;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--highlight-text);
  background-color: var(--my-messages);
  padding: 0;
  margin: 0;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input[type="text"] {
  width: 50vw;
  min-height: 50px;
  padding: 20px;
  margin: 10px;
  border: 1px solid var(--input-text);
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

h1 {
  margin: 3% 0;
  text-align: center;
  text-transform: uppercase;
}

form#seusRecados {
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input#descRecado,
input#newDesc {
  width: 20vw;
  min-width: fit-content;
}

input#salvaRecado {
  margin: 20px 0 20px 0px;
  width: 10vw;
  min-width: 100px;
  max-width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
}

button {
  color: var(--white-color);
  padding: 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  max-height: 50px;
  border-radius: 10px;
  background-color: var(--main-color);
  text-transform: uppercase;
}

input.apagaRecado {
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--cancel-button);
  color: var(--white-color);
  text-transform: uppercase;
}

input.editaRecado {
  padding: 8px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: uppercase;
}

table {
  margin: 20px 10%;
  width: 80%;
  text-align: center;
  border: 0px solid;
  border-radius: 10px;
}

th {
  height: 50px;
  background-color: var(--table-head);
  color: var(--white-color);
  text-transform: uppercase;
}

.tableId {
  width: 30px;
}

.tableActions {
  width: 180px;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: var(--table-lines);
}

tr:nth-child(odd) {
  background-color: var(--table-odd-lines);
}

tr:hover {
  background-color: var(--table-hover);
}

button:hover,
input#salvaRecado:hover,
input.editaRecado:hover,
input.apagaRecado:hover {
  transition: all 0.4s;
  background-color: var(--input-text);
}

.cancelbtn {
  padding: 10px;
  font-size: 12px;
  background-color: var(--cancel-button);
}

.imgcontainer {
  text-align: center;
  position: relative;
}

.container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.logout {
  display: flex;
  position: relative;
}

button.logout {
  text-decoration: none;
  background: none;
  color: var(--highlight-text);
  font-size: 50px;
  right: 0;
  top: 0;
  position: absolute;
  padding: 0;
  margin: 0;
}
a.logout:hover {
  color: var(--cancel-button);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--background-modal);
}

.modal-content {
  background-color: var(--modal-color);
  margin: 15% auto 15% auto;
  padding: 0px 20px 10px 20px;
  border: 5px solid var(--table-lines);
  border-radius: 10px;
  width: 60%;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: var(--highlight-text);
  font-size: 35px;
  font-weight: bolder;
}

.close:hover,
.close:focus {
  color: var(--cancel-button);
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
