:root {
  --main-color: #1f66ff;
  --backgroung-color: #00000010;
  /* --link-color: #666; */
  --text1: #666;
  --highlight-text: #333;
  --input-text: #555;
  --white-color: #fff;
  /* --points-list: #ccc; */
  /* --line-input: #d9d9d9; */
  /* --btn-hover: gray; */
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--backgroung-color);
}

div#container {
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: var(--text1); */
}

/* .containerLogin {
  margin-left: 50px;
} */
/* div.section { */
/* background-color: var(--text1); */
/* display: flex; */
/* flex: 1; */
/* margin: 5px; */
/* } */

.section:first-child {
  background-image: url(../assets/photo-1649780490583-12122384abda.avif);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: right; */
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
  /* background-color: white; */
}
/* 
#login {
  width: 50%;
} */
p {
  margin-top: 25px;
  text-align: center;
}
input,
button {
  outline: none !important;
  border: none;
}

button:hover {
  cursor: pointer;
}
.text1 {
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  /* font-size: 15px; */
  color: var(--text1);
  /* line-height: 2; */
}
.text2 {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
  /* font-size: 15px; */
  color: var(--main-color);
  /* line-height: 1.5; */
}

.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-top-8 {
  margin-top: 8px;
}

/* .wrapLogin { ele usou pra criar uma margem entre imagem e elementos do login
  width: 370px; verificar se % melhor que px
  margin-right: 50px;
  background-color: var(--white-color);
} */

.loginForm {
  width: 90%;
}

.loginFormTitle {
  display: block;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-size: 30px;
  color: var(--highlight-text);
  /* line-height: 2; */
  text-align: center;
  margin-bottom: 50px;
}

.wrapInput {
  max-width: 60%;
  max-height: 100%;
  position: relative;
  border-bottom: 2px solid var(--text1);
  margin: 5% 20%;
}

.inputForm {
  /* font-family: serif; */
  font-size: 18px;
  color: var(--input-text);
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 75px;
  background: transparent;
  padding: 0 5px;
}

.focusInputForm {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focusInputForm::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 5%;
  transition: all 0.4s;
  background-color: var(--main-color);
}

.focusInputForm::after {
  /* font-family: sans-serif; */
  font-size: 18px;
  color: var(--text1);
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;
  transition: all 0.4s;
}
.inputForm:focus + .focusInputForm::after {
  top: -20px;
  font-size: 15px;
}
/* color: blue; */
.inputForm:focus + .focusInputForm::before {
  width: 100%;
}
.has-val.inputForm + .focusInputForm::after {
  top: -20px;
  font-size: 15px;
}
/* .focusInputForm::after {
  color: #1f66ff;
} */
.has-val.inputForm + .focusInputForm::before {
  width: 100%;
}
.loginFormBtn {
  /* font-family: serif; */
  font-size: 16px;
  color: var(--white-color);
  /* line-height: 1.2; */
  text-transform: uppercase;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: 0 20px; */
  width: 50%;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 0.4s;
  font-weight: bold;
  margin: 5% 25%;
}
.loginFormBtn:hover {
  background-color: var(--input-text);
}

a:hover {
  text-decoration: none;
  color: var(--highlight-text);
  transition: all 0.4s;
}
